GOI.csv
Loan_approval.csv
Population of India.csv
loan_approval_dataset.json
citylatlng.csv
Loan_approval2.ipynb
Loan_approval3.ipynb
Loan_approval5.ipynb
Population of India.csv
STATElatlng.csv
.venv
venv
